<% layout("./layouts/boilerplate.ejs") -%>
<body>
    <h2>All Listings</h2>
    <div class="row row-cols-lg-4 row-cols-md-3 justify-content-center row-cols-sm-1">
        <% for(listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col">
                    <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style =  "height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body mt-2">
                        <h5 class="card-title"><%= listing.title %></h5>
                        <p class="card-text"><%= listing.description %></p>
                        <p><span>₹<%= listing.price %></span> night</p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
