<%- layout("./layouts/boilerplate.ejs")  %>
<body>    
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h3>Listing Details</h3>

            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top show-img object-fit-cover" style="height: 40vh;" alt="listing image">
                <div class="card-body mt-2">
                    <p class="card-text">
                        <b><%= listing.title %></b>
                        <br>
                        <%= listing.description %>
                        <br>
                        <%= listing.price.toLocaleString("en-in") %>
                        <br>
                        <%= listing.location %>
                        <br>
                        <%= listing.country %>
                        <br>
                    </p>
                </div>
                
                <div class="row my-4">
                    <div class="col  d-md-flex justify-content-start">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger mx-3 px-4">Edit</a>
                        <form action="/listings/<%= listing._id %>?_method=DELETE"  method="post">
                            <button class="btn btn-dark mx-2">Delete</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>